services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    ports:
      - "80:8000"
    env_file:
      - .env
    environment:
      - PORT=8000
      - CORS_ORIGINS=http://localhost:3000
